In [ ]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.
# Answer: Database is the collection of organized data that is structured  or unstructured and stored electronically on a computer system. Databases can store
#         data in the form of  tables depending upon the type of database. The database's are used to store a huge amount of data.
#         SQL databases are table-based databases, whereas NoSQL databases can be document-based, key-value pairs, and graph databases.
#         SQL databases have a predefined schema, whereas NoSQL databases use a dynamic schema for unstructured data.
#         SQL requires specialized DB hardware for better performance while NoSQL uses commodity hardware.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example. 
# Answer : DDL stand for Data Definition Language. DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create
#          or modify the tables in SQL.
#          CREATE: The CREATE command is used to create a new database, table.  Example :: CREATE TABLE Students (id INT, name VARCHAR(50));
#          DROP: The DROP command is used to delete a database, table.          Example :: DROP TABLE Students;
#          ALTER: The ALTER command is used to modify the structure of an existing database object. Example :: ALTER TABLE Students ADD COLUMN age INT;
#          TRUNCATE: TRUNCATE command is used to delete all the data from a table while keeping the table structure intact. Example :: TRUNCATE TABLE Students;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
# Answer : DML stands for Data Manipulation Language. The DML commands in SQL change the data present in the SQL database.
#          INSERT: INSERT command is used to add new records into a database table.           Example : INSERT INTO Employees (id, name, age, salary) VALUES (1, 'John Doe', 30, 50000);
#          UPDATE: UPDATE command is used to modify existing records in a database table.   Example : UPDATE Employees SET salary = 55000 WHERE id = 1;
#          DELETE: DELETE command is used to remove specific records from a database table. Example : DELETE FROM Employees WHERE id = 1;

# Q4. What is DQL? Explain SELECT with an example.
# Answer : DQL stand for Data Query Language. DQL is used for retrieving data from a database.
#          SELECT : SELECT command is used in DQL to fetch specific data from a table. Example : SELECT Name FROM Employees WHERE Salary > 5000;

# Q5. Explain Primary Key and Foreign Key.
# Answer : A primary key is a unique identifier for each record in a database table that ensures its uniqueness and serves as a reference for other tables. 
#          A foreign key, on the other hand, is a field in a table that establishes a link to the primary key of another table, creating a relationship between the two tables.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
# Answer : 
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE test1")

# The cursor() method is used to create a cursor object, which allows us to interact with the database.It provides methods to execute SQL queries
# The execute() method is used on the cursor object to execute an SQL query. It takes the SQL query as a parameter and can be used to perform 
# database operations like INSERT, UPDATE, DELETE, or SELECT, returning the result if applicable.

# Q7. Give the order of execution of SQL clauses in an SQL query.
# Answer : The order of execution of clauses in an SQL query typically follows this sequence: FROM, WHERE, GROUP BY, HAVING, SELECT, ORDER BY.